#jatekter{
    width: 500px;
    height: 500px;
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.lampaElem {
    border: 1px solid rgb(0, 145, 255);
    overflow: hidden;
}
.lampaElem>* {
    font-size: 140px;
    text-align: center;
    user-select: none;
}